@charset "UTF-8";

/* Versao tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {

  /* Container */
  .container {
    width: 70vw;
    height: auto;
  }

  .container header h1 {
    font-size: 2.3em;
  }

  /* Form */
  form .input-box {
    font-size: 1.1em;
  }

  .input-box input[type="text"] {
    width: 60%;
  }

  .input-box #height, .input-box #weight {
    width: 20%;
  }

  .btn {
    width: 40%;
    margin: 1em auto;
    font-size: 1em;
  }

  /* Result */
  .result {
    width: 80%;
    margin: 1em auto;
  }
  .result p {
    font-size: 1.1em;
    padding-top: 1em;
  }
}

/* Para telas maiores */
@media screen and (min-width: 992px) {
  /* Container */
  .container {
    width: 500px;
    height: auto;
  }

  .container header h1 {
    font-size: 2.4em;
  }

  /* Form */
  form .input-box {
    font-size: 1.2em;
  }

  .input-box input[type="text"] {
    width: 70%;
  }

  .input-box #height, .input-box #weight {
    width: 20%;
  }

  .btn {
    width: 40%;
    margin: 1em auto;
    font-size: 1.1em;
  }

  /* Result */
  .result {
    width: 100%;
    margin: 1em auto;
  }

  .result p {
    font-size: 1.1em;
    padding-top: 1em;
  }
}