@charset "UTF-8";

/* Paleta de cores */
:root {
  --bg-color-primary: #46CDCF;
  --bg-color-secondary: #48466D;
  --first-color: #111;
  --second-color: #ABEDD8;
  --third-color: #fff;
}

/* Estilos iniciais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Content */
main {
  color: var(--first-color);
  background-color: var(--bg-color-primary);
  border-radius: 20px;
  width: 80%;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

main header {
  border-bottom: 3px solid var(--first-color);
  padding: 1.25em 0;
}

header h1 {
  text-align: center;
}

/* Form */
form .input-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  margin: 0.5em auto;
}

.input-box input {
  border-radius: 5px;
  outline: none;
}

.input-box input,
.form-group button {
  padding: 8px 12px;
  font-size: 1em;
}

.input-box input#height,
.input-box input#weight {
  width: 40%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group button {
  text-transform: uppercase;
  width: 80%;
  margin: .3em auto;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-color-secondary);
  color: var(--third-color);
  text-align: center;
  cursor: pointer;
  transition: .3s ease;
}

.form-group button:hover {
  color: var(--second-color);
}

main .result {
  background-color: var(--bg-color-secondary);
  border-radius: 10px;
  height: 100px;
  width: 80%;
  margin: .3em auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.result p {
  color: var(--third-color);
  font-style: italic;
  font-size: 1.125em;
  font-weight: 500;
  text-align: center;
}

.result p span {
  font-weight: 600;
  color: var(--second-color);
}

/* Footer */

footer {
  padding: 1.25em 0;
}

footer p {
  text-align: center;
  margin-bottom: .5em;
}

footer p a {
  background-color: var(--bg-color-secondary);
  border-radius: 5px;
  color: var(--third-color);
  padding: 6px 8px;
  transition: 0.3s ease;
}

footer p a:hover {
  color: var(--second-color);
  text-decoration: none;
}

  
