@charset "UTF-8";

/* Paleta de cores */
:root {
  --bg-color-primary: #46CDCF;
  --bg-color-secondary: #48466D;
  --first-color: #111;
  --second-color: #ABEDD8;
  --third-color: #fff;
}
/* Estilos iniciais */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  width: 100vw;
}

/* Main */
main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;

  background-color: var(--bg-color-primary);
  color: var(--first-color);
  border-radius: 20px;
  width: 250px;
  height: 450px;
  padding: 0.625em;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;

}

/* Header */
.container header {
  border-bottom: 3px solid #111;
  margin-bottom: 1em;
}

.container header h1 {
  text-align: center;
  font-size: 1.3em;
}

/* Form */
form .input-box {
  font-size: .9em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-box label {
  font-style: italic;
  margin-bottom: .3em;
}

.input-box input {
  padding: 6px 8px;
  border-radius: 5px;
}

.input-box input:focus{
  font-size: 0.9em;
}

.input-box #height, .input-box #weight {
  width: 50%;
}

.btn {
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--bg-color-secondary);
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 6px;
  margin: .5em 0;
  cursor: pointer;
  transition: .3s;
}

.btn:hover {
  color: var(--second-color);
}

.result {
  background-color: var(--bg-color-secondary);
  border-radius: 5px;
  text-align: center;
  height: 80px;
}

.result p {
  font-size: 1em;
  font-weight: 500;
  color: var(--third-color);
}

.result span {
  font-weight: 600;
  color: var(--second-color);
}