@charset "UTF-8";

/* Paleta de cores e fonte */
:root {
  --clr-primary-400: #48466D;
  --clr-primary-300: #46CDCF;
  --clr-neutral-700: #111;
  --clr-neutral-100: #fff;

  --ff-primary: 'Comfortaa', cursive;

  --ff-body: var(--ff-primary);

  /* Font weight */
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  /*Font size*/
  --fs-400: .875rem;
  --fs-500: 1rem;
  --fs-700: 1.875rem;
}

/* Estilos iniciais */
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Utility classes */
.bg-primary-300 {
  background-color: var(--clr-primary-300);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

/* Estilos gerais */
body {
  font-size: var(--fs-400);
  font-family: var(--ff-body);
  line-height: 1.5;
  color: var(--clr-neutral-100);
}

.wrapper {
  width: min(100% - 3rem, 65ch);
  margin-inline: auto;
  border-radius: 20px;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

/* Estilos especificos */
.title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}

.input-box {
  padding: 1rem;
}

.input-box input {
  padding: .5rem .8rem;
}


.btn {
  padding: .8rem .5rem;
  margin: 0 .5rem;
  background-color: var(--clr-primary-300);
  color: var(--clr-neutral-100);
}

.result {
  padding: 1rem 0;
  text-align: center;
  color: var(--clr-neutral-700);
  background-color: var(--clr-primary-300);
}

.highlight {
  font-style: italic;
  font-weight: var(--fs-700);
}

.author {
  margin-top: 1rem;
  text-align: center;
}

.reference {
  margin: 1rem 0;
  text-decoration: none;
  color: var(--clr-primary-300);
}

.hide {
  display: none;
}